<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/shopLayout}">


<style>
.inner_main_img img{
	width:540px;
	height:80px;
}
.gthumb img{
width:40px;
	height:10px;
}


</style>
<div class="container" style="margin-top: 20px;"
	layout:fragment="container">
	<div class="menuRoot">
		<div class="table-cell" style="">
			<span class="bigCategoryName" style="color: #9b9b9b; margin-right:10px;">여성의류</span>
			<span class="detailCategoryName" style="color: #9b9b9b; margin-right:10px;">> 티 & 탑</span>
			<span class="selectedMypageMenu selectedGoodsNameInner">
				> 양면기모 레터링맨투맨(주문폭주, 리오더폭발)</span>
		</div>
	</div>

	<div class="innerDetail_goods_info" style="padding-bottom: 50px;">
		<div class="img_area"
			style="border-right: 1px solid rgb(221, 221, 221);">
			<div class="gthumbs" style="height: 720px; overflow-y: auto;">
				
			</div>
			<div style="line-height:200px">
				<img width="540" style="vertical-align:middle;" class="inner_main_img" src="">
			</div>
			<div id="innerDetail_goods_detail" class="goods_detail">
				<div class="div_line_1px" style="width: 632px; margin-right: 20px;"></div>
				<div class="goods_detail_title displayTable">
					<div class="table-cell">제품 상세설명</div>
				</div>
				<div class="goods_detail_text">
					설명설명
				</div>

				<div class="goods_comments_area">
					<div name="goods_comment_title" id="goods_comment_title"
						class="goods_comment_title displayTable">
						<div class="table-cell">
							상품문의 
							<span id="innerRepleTotalCount"
								style="color: #9b9b9b; font-size: 14px; font-weight: normal; vertical-align: top;">(0)</span>
						</div>
					</div>
					<div class="goods_comment_input"
						style="position: relative; box-sizing: border-box; border: 1px solid #e3e3e3; height: 150px;">
						<textarea id="innerCommentMsg" class="replyTextarea"
							placeholder="덧글을 입력해주세요." style="width: 100%; height: 100px;"></textarea>
						
						<button class="repleRegiBtn">등록하기</button>
					</div>
					<ul id="inner_goods_comments" style="position: relative;">
						<li class="g_comment_li" style="border-bottom: 1px solid #e3e3e3;"><div
								class="store_name ellipsis wstore_name">닉네임</div>
							<div class="datetime ellipsis">2018-09-13 05:01</div>	
							<div class="contents"
								style="margin-top: 17px; padding-bottom: 15px;">
								댓글댓글
								<div class="reply">
									<div class="qAnswerLogo">A</div>
									<div class="qAnswer">댓글댓글<br>댓글댓글</div>
								</div>
							</div>
						</li>
					</ul>
					<div style="text-align: center;">
						<div class="pageControlLeft" onclick="prev10PageMove()"
							title="10페이지 이전" style="margin-right: 2px; margin-top: 30px;"></div>
						<div class="innerShowPage"
							style="display: inline-block; vertical-align: top; margin-top: 30px;"></div>
						<div class="pageControlRight" onclick="next10PageMove()"
							title="10페이지 다음" style="margin-left: 2px; margin-top: 30px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="info_area">
			<div class="info_area_inner"
				style="margin-left: 18px; position: relative;">
				<div class="more_goods">
					<div class="goods_name" th:text="${product.pname}">PNAME</div>
					<div class="detail_store_name">
						<span class="store" th:text="${store.saddress}">ADDRESS</span>
						/ <span th:text="${store.tel}">TEL<span>
					</div>
					<div class="goods_price" th:text="${product.price}">PRICE</div>
					<div class="div_line_1px" style="width: 100%; margin-bottom: 30px;"></div>
					<table class="goods_option_table" style="margin-bottom: 30px;">
						<tbody>
							<tr>
								<td class="title">색상</td>
								<td class="color">오트밀 차콜그레이</td>
							</tr>
							<tr>
								<td class="title">혼용률</td>
								<td class="content">면</td>
							</tr>
							<tr>
								<td class="title">제조국</td>
								<td class="content">대한민국</td>
							</tr>
						</tbody>
					</table>
					<div class="div_line_1px" style="width: 100%; margin-bottom: 21px;"></div>
					<table class="goods_option_table" style="margin-bottom: 30px;">
						<tbody>
							<tr>
								<td class="title" style="color: #ff7675;">신상배송</td>
								<td class="content">카카오 결제만 가능, 택배배송<span
									style="color: #b0b0b0;">(우체국택배)</span></td>
							</tr>
						</tbody>
					</table>
						<div class="option_area">
							<ul class="goods_option_ul" style="width: 100%;" th:each="arr:${product.optList}">
								<li class="min-height42 optionLi">
									
									<div class="option">
										<div th:name="${arr.opno}" th:data-size="${arr.size}" style="color: #333; font-weight: 500; font-size: 14px;" 
										th:text="|SIZE / ${arr.size}|">SIZE</div>
										<div style="margin-top: 6px; font-size: 12px;"
											th:text="|재고수량 / ${arr.qty}|">QTY</div>
											
									</div>
									
									<div class="count">
									
										<div class="option_count_control" style="">
											<div class="detailUpDownDiv">
												<div class="detailDownArea"></div>
												<input name="option" th:id="${arr.opno}" class="detailUpDownNumArea" type="text"
													value="0">
												<div class="detailUpArea"></div>
											
											</div>
										</div>
										
									
									</div>
								
								</li>
								
							</ul>
							<div class="div_line_1px"
								style="width: 100%; margin-top: 20px; margin-bottom: 15px;"></div>
						</div>
					<div class="div_line_1px" style="width: 100%; margin-bottom: 21px;"></div>
						<input type="hidden" name="pno" th:value="${product.pno}">
						<input type="hidden" name="mid" value="member1">
					
						<div class="displayTable"
							style="width: 100%; background-color: #ffefef; height: 50px; padding: 0px 16px; box-sizing: border-box; margin-bottom: 15px;">
							<div id="selectResult" class="table-cell"></div>
							<div class="table-cell" style="font-size: 14px;">총 결제금액</div>
							<div class="detailOrderPrice table-cell"
								style="text-align: right; font-size: 20px; color: #ff5252; font-weight: 500;">
								<span class="totalSum">0</span>원
							</div>
						</div>

						<div class="btn_area">
							
	
							<div style="position:relative">
							<div class="basketInfoTextBox basketMoveBox"
								style="position: absolute; left: 111px; top: -106px; width: 318px; height: 100px; z-index: 3; display:none">
								<div class="close_btn"
									style="position: absolute; right: 8px; top: 8px;"></div>
								<div
									style="text-align: center; font-size: 14px; margin-top: 16px; font-weight: bold; letter-spacing: -0.4px;">
									장바구니에 상품이 담겼습니다.<br>
									<button class="basketMoveBtn" onclick="goShoppingBasket()"
										style="margin-top: 14px; height: 38px; cursor: pointer;">
										장바구니 바로가기 <span class="btn_css_arrow"></span>
									</button>
								</div>
							</div>
							<button class="btn_order" style="display: inline-block;">장바구니에
								담기</button>
							</div>
							<button class="btn_order_direct" style="display: inline-block;">
								<div class="symbolLogo"></div>
								주문하기
							</button>
							
						</div>
				
				</div>
				<div class="div_line_1px"></div>
				<div class="mgoods_images">

				</div>
				
			</div>
		</div>
			
	</div>
	<form action="/order/list" id="storeDetailForm" method="get" >
		<input type="hidden" name="pno" th:value="${product.pno}"/>
		<input type="hidden" name="mid" value="member1"/>
		<input type="hidden" name="sno" value="1"/>
	</form>
</div>

<th:block layout:fragment="script"> 
<script th:inline="javascript">
	$(document).ready(function() {
		var actionForm = $("#storeDetailForm");
	    var product = [[${product}]];

		(function() {
			
			setImg();
			
			
		})();
		
		function setImg(){
			
			var imgList=[[${product.imgList}]];
			var str="";
			var fileCallPath =  encodeURIComponent(imgList[0].ipath+ "/"+ imgList[0].uuid +"_"+imgList[0].iname);
			$(".inner_main_img").attr("src","/display?fileName="+fileCallPath);
			
			for(img of imgList){
				
				var thumbFileCallPath =  encodeURIComponent(img.ipath+ "/s_"+ img.uuid +"_"+img.iname);

				str += "<div class='gthumb'>"
				str += "<img width='60' src='/display?fileName="+thumbFileCallPath+"' style='display:block;'>"
				str += "<span class='img_edge'></span></div>"
		
			}
			
			$(".gthumbs").html(str);
		}
		
		$(".btn_order").on('click',function(e){
			e.preventDefault();
			var jsonList = new Array();
			
			$.each($(".detailUpDownNumArea"), function(index, item){
				if($(this).val() !=0){
					var list = {
							"mid" : "test",
							"pno" : product.pno,
							"qty" : $(this).val(),
							"opno" : $(this).attr("id")
					}
					
					jsonList.push(list);
				}
				
			}); 

			if(jsonList.length != 0){
				 $.ajax({
		                type:"post",
		                data : JSON.stringify(jsonList),
		                url: "/cart/new",
		                contentType : "application/json; charset=UTF-8",
		                success:function(result, status, xhr){
		                	console.log(result);
		    			}
		            }); 
					 
					 $(".basketInfoTextBox").css("display", "block");
					 
			}else{
				alert("수량을 입력해주세요.")
			}
			
		});
		
		
		$(".detailDownArea").click(function(e) {
			var count = $(this).next("input").val();
			if (count > 0) {
				count -= 1;
				$(this).next("input").val(count);
			} else {
				$('html').css({
					'cursor' : 'url(cursor.png), auto'
				});
			}
			totalSum();
		})

		$(".detailUpArea").click(function(e) {

			var count = Number($(this).prev("input").val());
			count += 1;
			$(this).prev("input").val(count);
			totalSum();
		})

		$(".gthumbs").on("mouseenter",".gthumb", function(e) {
			$(this).find("span").attr("class", "hover");
			var src = $(this).find("img").attr("src");
			$(".inner_main_img").attr("src", src);
		}).mouseout(function() {
			$(this).find("span").attr("class", "img_edge");
			setImg();
		})

		$(".close_btn").click(function(e) {
			$(".basketInfoTextBox").css("display", "none")
		});
		
		$(".repleRegiBtn").click(function(){
			if($(".replyTextarea")[0].textLength === 0){
				alert("덧글을 입력해주세요");	
			}
		});
		
		$(".btn_order_direct").click(function(){
			$.each(product.optList, function(index, item){
				var value = $("#"+item.opno+"").val();
				if(value > 0){
					actionForm.append("<input type='hidden' name='info' id='info' value='"+item.opno+"_"+value+"'>");
				}
			});
			if($("#info").val() == null){
				alert("수량을 입력해 주세요");
			}else{
				actionForm.submit();
			}
			
		});
		
		function totalSum(){
			var totalSum = 0;
			$(".detailUpDownNumArea").each(function(index, item){
				totalSum += Number(product.price * item.value);
			});
			
			$(".totalSum").html(totalSum);
		}
	});
</script> 
</th:block>

</html>