<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<title>Home</title>
</head>
<body>


	검색:
	<input id='my-language' type='text'>


	<th:block layout:fragment="script">
		<script th:src="@{//code.jquery.com/jquery.min.js}"></script>
		<script th:src="@{//code.jquery.com/ui/1.11.4/jquery-ui.min.js}"></script>
		<script th:inline="javascript">


	$(function() {
				var tags = [];
				
				 $.ajax({
			            type:"post",
			            url: "/autocomplete",
			            success:function(result, status, xhr){
							console.log(result);
							$.each(result,function(index,item){
									tags.push(item);	
							});
							console.log(tags);
							
			            
				 	
			           }	
			        }); 
					 
				$( "#my-language" ).autocomplete({
					source:tags 
				});
			
		});
	</script>
	</th:block>
</html>

